* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
}

.card {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;

  padding: 2rem;
}

input,
button {
  width: 27rem;
  border: 1px solid gray;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-top: 0.2rem;
}

label {
  color: gray;
  display: inline-block;
  margin-top: 2rem;
  font-weight: 700;
}

input:disabled {
  color: black;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  color: black;

  margin-top: 2rem;
  font-weight: 900;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.1rem;
  white-space: nowrap;
  padding-top: 1rem;
}

h2 {
  text-align: center;
}

#texto {
  margin-top: 1rem;
  text-align: center;
}

.alertImput {
  border: 0.2rem solid #c01212;
}

#tabela-fipe {
  font-weight: 700;
}
